<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="com.lanou3g"/>
    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--配置数据库四大属性-->
        <property name="jdbcUrl"
                  value="jdbc:mysql://localhost:3306/crm?characterEncoding=UTF-8"/>
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="user" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <!--初始化SessionFactory对象-->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>

    </bean>
    <!--登录-->
    <bean id="staffDao"
          class="com.lanou3g.crm.staff.dao.impl.StaffDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.lanou3g.crm.staff.service.impl.StaffServiceImpl"
          id="staffService">
        <property name="staffDao" ref="staffDao"/>
    </bean>
    <!--查询部门-->
    <bean id="deptDao"
          class="com.lanou3g.crm.staff.dao.impl.DepartmentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.lanou3g.crm.staff.service.impl.DepartmentServiceImpl"
            id="departmentService">
        <property name="departmentDao" ref="deptDao"/>
    </bean>

    <!--查询职位-->
    <bean id="postDao"
          class="com.lanou3g.crm.staff.dao.impl.PostDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.lanou3g.crm.staff.service.impl.PostServiceImpl"
          id="postService">
        <property name="postDao" ref="postDao"/>
    </bean>
    
    <!--班级配置-->
    <!--<bean class="com.lanou3g.crm.classCourse.dao.impl.CourseTypeDaoImpl"-->
          <!--id="courseTypeDao">-->
        <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->
    <!--<bean class="com.lanou3g.crm.classCourse.service.impl.CourseTypeServiceImpl"-->
          <!--id="classesService">-->
        <!--<property name="courseTypeDao" ref="courseTypeDao"/>-->
    <!--</bean>-->

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:advice id="staffAdvisor"
               transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!--配置切面-->
    <aop:config>
        <!--声明切点-->

        <aop:pointcut id="staffPointCut"
                      expression="execution(* com.lanou3g.crm.staff.service.impl.*.*(..))"/>

        <!--配置顾问-->
        <aop:advisor advice-ref="staffAdvisor"
                     pointcut-ref="staffPointCut"/>

    </aop:config>






    <tx:advice id="deptAdvisor"
               transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!--配置切面-->
    <aop:config>
        <!--声明切点-->

        <aop:pointcut id="deptPointCut"
                      expression="execution(* com.lanou3g.crm.staff.service.impl.*.*(..))"/>

        <!--配置顾问-->
        <aop:advisor advice-ref="deptAdvisor"
                     pointcut-ref="deptPointCut"/>

    </aop:config>





    <tx:advice id="postAdvisor"
               transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!--配置切面-->
    <aop:config>
        <!--声明切点-->

        <aop:pointcut id="postPointCut"
                      expression="execution(* com.lanou3g.crm.staff.service.impl.*.*(..))"/>

        <!--配置顾问-->
        <aop:advisor advice-ref="postAdvisor"
                     pointcut-ref="postPointCut"/>

    </aop:config>



    <tx:advice id="classesAdvisor"
               transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!--配置切面-->
    <aop:config>
        <!--声明切点-->

        <aop:pointcut id="classesPointCut"
                      expression="execution(* com.lanou3g.crm.classCourse.service.impl.*.*(..))"/>

        <!--配置顾问-->
        <aop:advisor advice-ref="classesAdvisor"
                     pointcut-ref="classesPointCut"/>

    </aop:config>
</beans>